<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrmApp.Properties.Screen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrmApp.Properties.Doviz" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CrmApp.Properties.Screen>
            <setting name="FullScreen" serializeAs="String">
                <value>0</value>
            </setting>
        </CrmApp.Properties.Screen>
        <CrmApp.Properties.Doviz>
            <setting name="Dolar" serializeAs="String">
                <value />
            </setting>
            <setting name="Euro" serializeAs="String">
                <value />
            </setting>
            <setting name="Sterlin" serializeAs="String">
                <value />
            </setting>
        </CrmApp.Properties.Doviz>
    </userSettings>
</configuration>